
%h1 Courses

%table.table.table-hover
  %th
    %tr
      %th Course Name
      %th Course Description
      %th Status
    %tb
      - @courses.each do |course|
        %tr
          %td= course.name
          %td= course.description
          %td= course.status