
%h1 GA inna da Reggae - Courses

%table
  %th
    %tr
      %th First Name
      %th Last Name
      %th Role ID
      %th Email
    %tb
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.role_id
          %td= user.email