
%h1 Bookings

%table.table.table-hover
  %th
    %tr
      %th Course
      %th Lesson
      %th Classroom
      %th Start
      %th Finish
    %tb
      - @bookings.each do |booking|
        %tr
          %td= booking.lesson.course.name
          %td= booking.lesson.name
          %td= booking.classroom.name
          %td Coming Soon!
          %td Coming Soon!