
%h1 Enrollments

%table
  %th
    %tr
      %th Student
      %th Lesson
      %th Payment Status
    %tb
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.student.full_name
          %td= enrollment.lesson_id
          %td= enrollment.payment_status