
%h1 User Authorizations

%table.table.table-hover
  %th
    %tr
      %th User
      %th Role
      
    %tb
      - @authorizations.each do |authorization|
        %tr
          %td= authorization.user.full_name
          %td= authorization.role.name
          %td= link_to 'Edit User Authorization', edit_authorization_path(authorization)